{% extends 'template.html' %}
{% block content %}
<section id="modalRemover" class="modal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-remover"></h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <form action="{{ url_for('views.delete') }}" method="post">
                <input type="hidden" name="user_id">
                <div class="modal-body">
                    <p>Você realmente deseja excluir esse usuário?</p>
                    <p>Os dados não poderão ser recuperados posteriormente...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="#modalRemover">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Remover Usuário</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5 mb-3">
        <form action="{{ url_for('views.create')}}" method="post">
            <fieldset class="row align-items-center">
                <div class="col">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" class="form-control" type="text" placeholder="Insira o nome" maxlength="30" required>
                </div>
                <div class="col">
                    <label for="password" class="form-label">Senha</label>
                    <input class="form-control" type="password" name="password" placeholder="Insira uma senha" minlength="16" required>
                </div>
                <div class="col">
                    <label for="job" class="form-label">Cargos</label>
                    <select name="job" class="form-select" required>
                        <option value="Gerente">Gerente</option>
                        <option value="Auxiliar de Produção">Auxiliar de Produção</option>
                        <option value="Contador">Contador</option>
                        <option value="Recepcionista">Recepcionista</option>
                        <option value="Motorista">Motorista</option>
                        <option value="Telefonista">Telefonista</option>
                        <option value="Vendedor">Vendedor</option>
                    </select>
                </div>
                <div class="col">
                    <label for="role" class="form-label">Permissões</label>
                    <select name="role" class="form-select">
                        <option value="master">Mestre</option>
                        <option value="admin">Administrador</option>
                        <option value="user">Usuário Comum</option>
                    </select>
                </div>
                <div class="col">
                    <button type="reset" class="btn btn-secondary">Limpar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>

<section class="d-flex flex-columns">
    <div class="container text-center">
        <table class="table table-responsive align-middle">
            <thead class="table-dark">
                <tr>
                    <th class="col-sm-1">ID</th>
                    <th class="col-sm-1">Nome usuário</td>
                    <th class="col-sm-1">Função Usuário</th>
                    <th class="col-sm-1">Permissões Usuário</td>
                    <th class="col-sm-1">Ações</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                {% for user in users_list %}
                <tr scope="row col-sm-1">
                    <td> {{ user.id }} </td>
                    <td> {{ user.name }}</td>
                    <td> {{ user.job }}</td>
                    <td> {{ user.role }}</td>
                    <td>
                        <a href="{{ url_for('views.edit', id=user.id) }}" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#modalRemover" data-task-id="{{ user.id    }}" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='script_modal.js') }}"></script>
{% endblock %}